<h2>My tasks</h2>

<% @tasks.each do |task| %>
<li>
  <% if task.completed == true %>
    <input type="checkbox" checked>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "delete", destroy_path(task), method: :delete, data:{ confirm:"delete?" } %>

  <% elsif task.completed == false %>
    <input type="checkbox">
    <%= link_to task.title, task_path(task) %>
    <%= link_to "delete", destroy_path(task), method: :delete, data:{ confirm:"delete?" } %>

  <% end %>
<% end %>
</li>
<br>
<%= link_to "Add a new task", new_path %>
<!--
 -->

