<h2>New Task</h2>
<%= form_for(@task) do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :details %>
  <%= t.text_field :details %>
  <%= t.submit %>
<% end %>


<!-- <form action="task">
  <label for="title">Title</label>
  <input type="text" name="title">
  <label for="details">Details</label>
  <input type="text" name="details">
  <input type="submit" label="Create a task">
</form>
 -->
